.container {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(212, 211, 211);
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
.filter div span{
    margin-right: 50px;
}
.toggle-filter{
    color: #898792;
    cursor: pointer;
    font-family: 'adobe-caslon';
    font-weight: 100;
}

.container span{
    display: inline-block;
    padding: 30px 0;
}

.main{
    display: flex;
}

.sidebar{
    width: 20%;
}

.products-container{
    display: grid;
    width: 80%;
    margin-left: 40px;
}

.products-container.with-sidebar {
    grid-template-columns: repeat(3, 1fr);
}

.products-container.without-sidebar {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
}

.image{
    width: 250px;
    height: 300px;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image>img{
    width: 70%;
}

.product-card h1{
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card p {
    color: gray;
    font-size: 20px;
    margin-top: -10px;
}