.container {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(212, 211, 211);
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.filter div span {
    margin-right: 50px;
}

.toggle-filter {
    color: #898792;
    cursor: pointer;
    font-family: 'adobe-caslon';
    font-weight: 100;
}

.container span {
    display: inline-block;
    padding: 30px 0;
}

.main {
    display: flex;
}

.sidebar {
    width: 20%;
}

.products-container {
    display: grid;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 50px;
}

.products-container.with-sidebar {
    grid-template-columns: repeat(3, 1fr);
}

.products-container.without-sidebar {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
}

.image {
    width: 250px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image>img {
    width: 70%;
}

.product-card h1 {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card .product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.product-card p {
    color: gray;
    font-size: 20px;
    margin-top: -10px;
}

.heart-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: -30px;
}

.recommended-section {
    position: relative;
}

.recommended {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.recommended i {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.dropdown-item p {
    margin: 0;
    font-weight: 100;
    margin: 10px 0 ;
}

.dropdown-item.selected {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.check-icon {
    width: 16px;
    height: 16px;
}