.sidebarr {
    padding: 15px 0;
}

.custom {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.custom input[type="checkbox"] {
    margin-top: 0;
    width: 30px;
}

.checkbox {
    display: flex;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.accordion-header div div:nth-child(2){
    font-weight: 100;
    margin-top: 15px;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
}

input[type="checkbox"] {
    margin-top: 0;
    width: 30px;
}
 .custom-hr {
     border: 0;
     height: 1px;
     background-color: #ddd;
     margin: 20px 0;
 }